---
import { Icon } from "astro-icon/components";
import { format } from "date-fns";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
let { title, body, heroImage, pubDate, category } = Astro.props;
const importReg = /import.*from.*;/g;
const imageReg = /!\[.*\]\((.*)\)/g;
const shortDescription = body
  .replaceAll("\n", "")
  .replaceAll("#", "")
  .replaceAll(importReg, "")
  .replaceAll(imageReg, "")
  .slice(0, 80)
  .concat("...");
if (!heroImage) {
  heroImage = "/src/assets/images/placeholder.png";
}
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/**/*.{jpeg,jpg,png}"
);
if (!images[heroImage])
  throw new Error(
    `"${heroImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png}"`
  );
---

<div class="group">
  <div class="object-cover overflow-hidden">
    <Image
      src={images[heroImage]()}
      alt={title}
      class="object-cover duration-200 group-hover:scale-110"
    />
  </div>
  <div class="flex justify-between text-neutral-500 text-xs my-2">
    <time class="flex items-center"
      ><Icon name="mdi:calendar" class="mr-0.5" />
      {format(pubDate, "yyyy/MM/dd")}</time
    >
    <span class="flex items-center"
      ><Icon name="mdi:folder" class="mr-0.5" />
      {category || "Uncategorized"}</span
    >
  </div>
  <h2 class="font-semibold">{title}</h2>
  <p class="my-2 text-xs text-neutral-500">{shortDescription}</p>
</div>
