---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { format } from "date-fns";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type Props = CollectionEntry<"blog">["data"] & {
  body?: string;
  type?: "blog" | "page";
  prevPost?: CollectionEntry<"blog"> | null;
  nextPost?: CollectionEntry<"blog"> | null;
  noindex?: boolean;
};

let {
  title,
  body,
  pubDate,
  updatedDate,
  heroImage,
  category,
  prevPost,
  nextPost,
  type = "blog",
  noindex = false,
} = Astro.props;
const importReg = /import\s+.*\s+from\s+.*;/g;
const imageReg = /!\[.*\]\((.*)\)/g;
const desc = body ? body.replaceAll("\n", "").replaceAll(importReg, "").replaceAll(imageReg, "").slice(0, 80).concat("...") : null;

if (!heroImage && type === "blog") {
  heroImage = "/src/assets/images/placeholder.png";
}
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/**/*.{jpeg,jpg,png}"
);
if (heroImage && !images[heroImage])
  throw new Error(
    `"${heroImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png}"`
  );
---

<BaseLayout
  title={title}
  description={body
    ? desc
    : null}
  image={heroImage ? (await images[heroImage]()).default.src : null}
  noindex={noindex}
>
  <article class="lg:col-span-3 lg:mr-8 mb-6">
    <div class="hero-image mb-6">
      {heroImage && category !== "Zakki" && <Image width={1020} height={510} src={images[heroImage]()} alt="" />}
    </div>
    <div class="prose max-w-none">
      <div class="title">
        <h1 class="text-3xl my-6 font-semibold">{title}</h1>
        <div class="flex items-center gap-2 text-neutral-500 text-xs">
          <time class="flex items-center"
            ><Icon name="mdi:calendar" class="mr-0.5" />
            {format(pubDate, "yyyy/MM/dd")}</time
          >
          {
            updatedDate && (
              <time class="flex items-center">
                <Icon name="mdi:calendar-sync" class="mr-0.5" />
                {format(updatedDate, "yyyy/MM/dd")}
              </time>
            )
          }
          <a
            href={`/category/${category || "Uncategorized"}`}
            class="flex items-center no-underline text-neutral-500 font-normal"
          >
            <Icon name="mdi:folder" class="mr-0.5" />
            {category || "Uncategorized"}
          </a>
        </div>
      </div>
      <slot />
    </div>
    {type === "blog" && (
      <>
        <div class="flex gap-4 my-12 justify-center">
          <a
            href=`https://twitter.com/intent/tweet?text=${title}+-+Acto&url=${encodeURIComponent(Astro.request.url)}&via=scgame_m`
            target="_blank"
            class="bg-black hover:bg-neutral-800 duration-200 rounded-full w-10 h-10 flex items-center justify-center"
          >
            <Icon name="ri:twitter-x-fill" class="text-white" size={22} />
          </a>
          <a
            href=`https://www.facebook.com/sharer.php?src=bm&u=${encodeURIComponent(Astro.request.url)}&t=${title}%20-%20Acto`
            target="_blank"
            class="bg-blue-500 hover:bg-blue-600 duration-200 rounded-full w-10 h-10 flex items-center justify-center"
          >
            <Icon name="mdi:facebook" class="text-white" size={24} />
          </a>
          <a
            href=`https://b.hatena.ne.jp/add?mode=confirm&url=${encodeURIComponent(Astro.request.url)}`
            target="_blank"
            class="bg-cyan-500 hover:bg-cyan-600 duration-200 rounded-full w-10 h-10 flex items-center justify-center"
          >
            <Icon name="cib:hatena-bookmark" class="text-white" size={20} />
          </a>
          <a
            href=`https://getpocket.com/edit?url=${encodeURIComponent(Astro.request.url)}&title=${title}%20-%20Acto`
            target="_blank"
            class="bg-rose-500 hover:bg-rose-600 duration-200 rounded-full w-10 h-10 flex items-center justify-center"
          >
            <Icon name="cib:pocket" class="text-white" size={20} />
          </a>
          <a
            href=`https://social-plugins.line.me/lineit/share?url=${encodeURIComponent(Astro.request.url)}`
            target="_blank"
            class="bg-lime-500 hover:bg-lime-600 duration-200 rounded-full w-10 h-10 flex items-center justify-center"
          >
            <Icon name="cib:line" class="text-white" size={20} />
          </a>
        </div>
        <div class="flex gap-3 items-center text-sm my-4">
          <b>カテゴリー</b>
          <p>/</p>
          <a
            href={`/category/${category || "Uncategorized"}`}
            class="hover:underline"
          >
            {category || "Uncategorized"}
          </a>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between gap-3 my-8">
          {prevPost && (
            <a href={`/${format(prevPost.data.pubDate, "yyyy/MM/")}${prevPost.slug.slice(5)}`} class="text-sm hover:opacity-80 duration-200 md:w-1/2 mr-auto">
              <div class="flex items-center gap-2">
                <Icon name="mdi:keyboard-arrow-left" class="text-lg" />
                {prevPost.data.category !== "Zakki" && <Image src={images[prevPost.data.heroImage || "/src/assets/images/placeholder.png"]()} alt={prevPost.data.title} class="h-16" height={64} />}
                <p class="text-left flex-grow">{prevPost.data.title}</p>
              </div>
            </a>
          )}
          {nextPost && (
            <a href={`/${format(nextPost.data.pubDate, "yyyy/MM/")}${nextPost.slug.slice(5)}`} class="text-sm hover:opacity-80 duration-200 md:w-1/2 ml-auto">
              <div class="flex items-center gap-2">
                <p class="text-right flex-grow">{nextPost.data.title}</p>
                {nextPost.data.category !== "Zakki" && <Image src={images[nextPost.data.heroImage || "/src/assets/images/placeholder.png"]()} alt={nextPost.data.title} class="h-16" height="64" />}
                <Icon name="mdi:keyboard-arrow-right" class="text-lg" />
              </div>
            </a>
          )}
        </div>
        <script src="https://giscus.app/client.js"
              is:inline
              data-repo="opera7133/acto-v2"
              data-repo-id="R_kgDOL3cpAg"
              data-category="General"
              data-category-id="DIC_kwDOL3cpAs4Cfmxr"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="bottom"
              data-theme="light"
              data-lang="ja"
              data-loading="lazy"
              crossorigin="anonymous"
              async>
      </script>
      </>
    )}
  </article>
</BaseLayout>
